<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>




<table>
    <thead>
    <tr>
        <th> ID</th>
        <th> idorder</th>
        <th> order_date</th>
        <th> idcustomer</th>
        <th> total_money</th>
        <th> notes</th>
        <th> name_recieve</th>
        <th> address</th>
        <th> phone</th>
        <th> paymentmethodname</th>
        <th> paymentmethodnotes</th>
        <th> orderspaymenttotal</th>
        <th> transportmethodname</th>
        <th> transportmethodnotes</th>
        <th> orderstransporttotal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order :${order}">
        <td><div th:text="${order.ID}"></div></td>
        <td><div th:text="${order.IDORDERS}"></div></td>
        <td><div th:text="${order.ORDERS_DATE}"></div></td>
        <td><div th:text="${order.IDCUSTOMER}"></div></td>
        <td><div th:text="${order.TOTAL_MONEY}"></div></td>
        <td><div th:text="${order.Order_notes}"></div></td>
        <td><div th:text="${order.NAME_RECIVER}"></div></td>
        <td><div th:text="${order.ADDRESS}"></div></td>
        <td><div th:text="${order.PHONE}"></div></td>
        <td><div th:text="${order.Paymentmethodname}"></div></td>
        <td><img th:src="'../images/logos/' + ${order.Paymentmethodnotes}" style="width:100px;"></td>
        <td><div th:text="${order.Orderspaymenttotal}"></div></td>
        <td><div th:text="${order.Transportmethodname}"></div></td>
        <td><div th:text="${order.Transportmethodnotes}"></div></td>
        <td><div th:text="${order.Orderstransporttotal}"></div></td>
    </tr>
    </tbody>
    <tfoot>
    <tr th:each="order :${orderdetailcate}">
        <td><div th:text="${order.Product_name}"></div></td>
        <td><div th:text="${order.Product_price}"></div></td>
        <td><img th:src="'../images/it_service/' + ${order.Product_image}" style="width:100px;"></td>
    </tr>
    </tfoot>
</table>